@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

.link:hover{
    text-decoration: none;
}

.contain{
    width: 80%;
    margin: auto;
}

.bg-black{
    background-color: black;
}

.alert-floating{
    overflow: hidden;
    width: 50%;
    margin: auto;
    position: fixed;
    top: 12vh;
    left: 25%;
    z-index: 100;
    text-align: center;
}

.title-slim{
    font-weight: 400;
}

@media screen and (max-width: 960px){
    .alert-floating{
        width: 80%;
        left: 10%;
    }
}