.no-profile{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-profile-card{
    width: 400px;
    text-align: center;
    padding: 1rem;
}

.profile-avatar{
    width: 100%;
}

.exp-title{
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1rem;
}

.exp-company{
    font-weight: 300;
}

.exp-sub{
    font-size: 0.8em;
    line-height: 0;
}

.profile-skills{
    list-style: none;
    padding: 0;
}

.bio-box{
    border: solid lightgray 1px;
    padding: 1rem;
    min-height: 150px;
}

.social-links{
    width: 275px;
}