.showcase{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3a4052 url('../../assets/Picture.png') no-repeat center center/cover;
}

.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content{
    z-index: 1;
}
.content h1{
    font-size: 4em;
    color: #fff;
}

.content h3{
    color: #fff;
    margin-bottom: 2rem;
}

.land-button{
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.land-button:hover{
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: black;
    transition: 250ms;
    text-decoration: none;
}

.land-button-primary{
    background-color: var(--dark);
    color: #fff;
}

.land-button-secondary{
    background-color: var(--primary);
    color: #fff;
}

@media screen and (max-width: 1105px){
    .showcase{
        height: 91.5vh;
        
    }
}