.navbar-items{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.navbar-logo{
    justify-self: start;
    cursor: pointer;
    margin: 0.5rem 0;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-bottom: 0;
}

.navbar-links{
    padding: 0.5rem 1rem;
    color: #fff;
}

.navbar-links:hover{
    text-decoration: none;
    color: #fff;
    background-color: #1d1e1f;
    transition: all ease-in 0.25s;
}

.navbar-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}


@media screen and (max-width: 1105px){

    .navbar-items{
        position: relative;
        height: 8.5vh;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 8.5vh;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        padding-left: 0;
    }

    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-links:hover{
        background-color: #1d1e1f;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10%, 5%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-75%, 30%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .navbar-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        width: 80%;
        background-color: var(--primary);
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .navbar-links-mobile:hover{
        background-color: #fff;
        color: #000;
        text-decoration: none;
        transition: 250ms;
    }

    .sign-up{
        display: none;
    }
}